.wrapper-header {
  @include flex(row, center, space-between, rem(20));
  box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
  border-bottom: 2px solid #f6f6f6;
  height: rem(75);

  .img-logo {
    object-fit: cover;
  }

  .txt-login {
    color: $black-1f2;
    font-size: rem(16);
    font-weight: $font-weight-700;

    &:hover {
      color: $orange-ff7;
    }
  }

  >nav {
    flex: 1;

    >ul {
      @include flex(row, center, flex-start, rem(20));

      >li {
        @include flex(row, center, flex-start, rem(2));
      }
    }
  }
}