.wrapper-header {
  min-height: rem(66);
  padding: 0 rem(28);
  background-color: #fff;
  border-bottom: rem(1) solid #e8ebed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > img {
    height: rem(53);
    width: auto;
    object-fit: contain;
  }
}
