.skeleton {
    background-color: $white-eef;
    background-image:
        linear-gradient(90deg,
            rgba($white, 0),
            rgba($white, 0.5),
            rgba($white, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
    width: 100%;
    height: 100%;
    border-radius: rem(5);
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}